.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.name {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  background-color: transparent;
  border: none;
}

.custom-button {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  background-color: transparent;
  border: none;
}
